.video-card-cn{
    margin-top: 120px;
}
.video-card{
    margin-bottom: 40px;
    &-body{
        margin: 0 auto;
        width: 21.25rem;
        height: 20rem;
        background-color: blueviolet;
    }
}